@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

tbody tr {
    &:nth-of-type(2n + 1) {
        background-color: $bg-light;
    }

    .number,
    .name {
        @include typography("subtitle-s2");
    }

    .id,
    .currency {
        @include typography("caption-c2");
        color: $font-gray-300;
    }

    .description {
        @include typography("body-b2");
        color: $font-gray-400;
    }

    .status {
        @include typography("caption-c1");
    }

    .rate,
    .balance,
    .deposit {
        @include typography("body-number");
    }
}
